html {
    box-sizing: border-box;
  }

*,
*:after,
*:before {
    box-sizing: inherit;
  }

body{
    background: url("../img/hojas.jpg");
    background-attachment: fixed;
}

#global{
    width: 85%;
    margin: 0 auto; /* para que lo centre*/
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(240, 232, 221);
}

.clearfix{
    float: none;
    clear: both;
}

#logo{
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, Arial;
    letter-spacing: 4px;
    background-color: #235E3D;
    text-align: center;
    font-size: 25px;
    width: 385px;
    height: 80px;
    float: left;
    margin-bottom: 20px;
    line-height:23px;
}

#menu{
    background-color:rgb(50,50,50);
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;
    display: inline block; /* para que muestre todos los nombres en una sola línea */
}

#menu ul li{
    /* height: 46px; */
    /* padding: 10px 0; */
    list-style: none;
    display:inline-block;
    transition: all 300ms;
    margin-left: 5px;
}

#menu ul li:hover{
    background-color: #235E3D;
}

#menu li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

article h2{
    margin-bottom: 0;
}

#posts{
    width: 60%;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
}

.post{
    color: #333;
    padding: 15px;
}

.post .date {
    font-size: 22px;
    display: block;
    color:gray;
    margin: 0 10px 0 0;
}

.text{
    /* margin-top: 0; */
    text-align: justify;
}

.readMore{
    color: grey;
    text-decoration: none;
}

#sidebar{
    font-family: Helvetica, Arial, sans-serif;
    width: 38%;
    float: right;
    border: 1px solid grey;
    padding: 5px;
}

h4{
    /* margin: 50px 0 20px 0; */
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
    background-image: url("../img/lines.png");
}

#sidebar h4 span{
    background: rgb(240, 232, 221);
    padding: 10px;
}

#sidebar img{
    width: 100%;
    text-align: center;
}

#sidebar p{
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 100%;
    margin: 10px 0;
    box-shadow: 0 0 2px grey;
}

form input[type="submit"]{
    background: #eee;
    padding: 10px;
    width: 80px;
    color: #333;
    cursor: pointer;
}

footer{
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    height: 47px;
    background: rgba(51, 51, 51, 0.70);
    margin: 0 auto;
    width: 85%;
    padding: 0 20px;
    margin-top: 50px;
    line-height: 47px;
}

.bx-wrapper, .bx-viewport{
    max-height: 250px !important;
}
