body{
    background: url("../img/rojo.jpg");
    background-attachment: fixed;
}

#logo{
    background-color: #CA3412;
}

#menu ul li:hover{
    background-color: #CA3412;
}

.readMore{
    color: #CA3412;
}

#logout{
    color:#CA3412;
}

#clock{
    border-color: #CA3412;
    color: #CA3412;
}